body {
    margin: 20px;
    padding: 0;
    background-color: rgb(97, 97, 97);
    background-image: url('../images/circuit-board.svg');
    color: white;
  }
  .wrapper {
    max-width: 960px;
    margin: 2em auto;
  }

  @media screen and (min-width: 600px) {
    .col1 {
      width: 31.24999999%;
      float: left;
    }

    .col2 {
      width: 64.58333331%;
      float: right;
    }
  }