*{
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  background-color: beige;
  background-image: url('../images/circuit-board.svg');
}
/*------------------- navegacion-----------------------------*/
.mainmenu{
  width: 100%;
  height: 60px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,7,128,1) 0.1%, rgba(37,145,251,0.98) 99.8% );
}

.enlace, ul, li{
  display: inline;
  line-height: 60px;
}

.checkbtn, ul{
  float: right;
}

li{
  margin-right: 30px;
}
a.link{
  color: white;
  border-radius: 5px;
  padding: 4px 10px;
}
a.link:hover{
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 4px 10px;
}
a.active{
  background-color: white;
  border-radius: 5px;
  padding: 4px 10px;
  color: black;
}
a.active:hover{
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 4px 10px;
}
.checkbtn{
  float: right;
  display: none;
}
#check{
  display: none;
}
/*------------------- barner      ----------------------*/

.barner{
  padding: 20px 10%;
  width: 100%;
}
/*-------------------vison-----------------------------*/
.vision{
  width: 80%;
  padding: 40px;
  margin: auto;
  /*-------------------seccion 1-----------------------------*/
}
.contacto{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto  ;
}
.aside{
  flex: 50%;
  text-align: center;
  margin: auto;
}
.mainbox{
  flex: 50%;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.box{
  flex: 50%;
  padding: 0px;
}
.medio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.icon{
  padding: 10px;
}
.texicon{
  font-size: x-large;
  padding-left: 0px;
}
/*-                      pagos                          */
.texpago{
  text-align: center;
}
.pagos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logoa{
  padding: 10px;
  height: 70px;
  line-height: 70px;
}
.logob{ 
  padding: 10px;
}
/*-                      footer                          */

.eco{
  background-color: black;
  text-align: center;
}

.date{
  background-color: black;
  color: greenyellow;
  font-size: small;
  text-align: center;
  padding: 5px;
}

/*---------------------responsive-------------------------*/

@media screen and (max-width: 600px) {
  .checkbtn{
      display: block;
      margin-right: 30px;
      line-height: 60px;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.94) 0.1%, rgba(0,7,128,0.94) 99.8% );
      top: 60px;
      text-align: center;
      left: -100%;
      margin: 0px 0px;
      line-height: 30px;
      transition: all 0.3s;
  }
  li{
      display: block;
      margin: 30px 0px;
  }
  #check:checked ~ ul{
      left: 0;
  }
  a.link{
      color: white;
      background-color: transparent;
      border-radius: 5px;
      font-size: large;
      padding: 4px 10px;
  }
  a.link:hover{
      background-color: blue;
      color: white;
      border-radius: 5px;
      padding: 4px 10px;
  }
  a.active{
    font-size: large;
  }
  a.active:hover{
      background-color: blue;
      color: white;
  }
  .barner{
    margin: 0px;
  }
  .texicon{
    font-size: large;
    padding: 5px;
  }
  .contacto{
    width: 100%;
    flex-direction: column;
  }
}